footer {
  margin-top: 200px;
  padding-left: 210px;
  padding-right: 210px;
  display: flex;
  flex-flow: column;

  //chtěli byste s necim poradit
  > div:first-child {
    border-bottom: 1px solid #707070;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 55px;
      font-weight: bold;
    }

    .contact-button {
      cursor: pointer;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      min-width: 225px;
      height: 66px;
      font-weight: normal;
      font-size: 24px;
    }
  }

  //ty veci pod carou
  > div:nth-child(2) {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    //image s "navigaci"
    > .footer-dom-section:first-child {
      display: flex;
      flex-flow: column;
      align-items: center;

      a {
        font-size: 18px;
        font-weight: 500;
        color: #707070;
      }

      > div:nth-child(2) {
        margin-top: 30px;

        a {
          margin-right: 10px;
        }
      }
    }

    > .footer-dom-section:nth-child(2) {
      max-width: 433px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;

      > section {
        font-size: 11px;
        color: #707070;
        margin-right: 20px;
        margin-left: 20px;

        p {
          margin: 0;
        }

        > div {
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: 20px;
        }

        .icon-container {
          margin-right: 8px;
        }

        a {
          color: #707070;
        }

        h3 {
          font-size: 18px;
        }
      }
    }
  }
}

@media only screen and (max-width: 1120px) {
  footer {
    margin-top: 100px;
    padding-left: 45px;
    padding-right: 45px;

    > div:first-child {
      flex-flow: column;

      h2 {
        font-size: 30px;
        text-align: center;
      }

      .contact-button {
        min-width: 160px;
        height: 45px;
        font-size: 17px;
        margin-bottom: 25px;
      }
    }

    > div:nth-child(2) {
      padding-top: 15px;
      flex-flow: column;

      > .footer-dom-section:first-child {
        > div:nth-child(2) {
          margin-top: 10px;
        }
      }

      > .footer-dom-section:nth-child(2) {
        margin-top: 15px;
        justify-content: space-evenly;

        > section {
          margin-right: 20px;
          margin-left: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {

}

//1120px
//900px