.landing-page-container {
  background-image: url("../images/usgs-wuu4X-fTLAM-unsplash-min.webp");
  height: 100vh;
  min-height: 1080px;

  > section {
    padding-top: 300px;
    padding-left: 50px;

    h1 {
      margin: 0;
      font-size: 121px;
      font-weight: 800;
      color: #EC3D3C;
    }

    p {
      margin-top: 75px;
      font-size: 25px;
      font-weight: 400;
      max-width: 600px;
    }

    .contact-button {
      cursor: pointer;
      width: 411px;
      height: 87px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      .post-image-container {
        width: 104px;
        height: 87px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: #EC3D3C;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .question-text {
        background-color: white;
        width: 307px;
        height: 87px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        color: #EC3D3C;
        font-weight: 300;
      }
    }
  }

  .moravec-info {
    position: absolute;
    bottom: -80px;
    right: 70px;
  }
}

@media only screen and (max-width: 1120px) {
  .landing-page-container {
    > section {
      h1 {
        font-size: 60px;
      }

      p {
        margin-top: 40px;
        margin-right: 10px;
        font-size: 20px;
      }

      .contact-button {
        width: 316px;
        height: 66px;

        .post-image-container {
          height: 66px;
        }

        .question-text {
          height: 66px;
          font-size: 20px;
        }
      }
    }

    .moravec-info {
      position: relative;
      bottom: unset;
      right: unset;
      margin-top: 70px;
      margin-left: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .landing-page-container {
    display: flex;
    flex-flow: column;
    justify-content: center;

    > section {
      h1 {
        font-size: 38px;
      }

      p {
        margin-top: 20px;
        margin-right: 10px;
        font-size: 15px;
      }

      .contact-button {
        width: 205px;
        height: 43px;

        .post-image-container {
          height: 43px;
        }

        .question-text {
          height: 43px;
          font-size: 15px;
        }
      }
    }

    .moravec-info {
      position: relative;
      bottom: unset;
      right: unset;
      margin-top: 70px;
      margin-left: 50px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .landing-page-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-top: 50px;
    min-height: unset;

    > section {
      padding-top: unset;
      h1 {
        font-size: 29px;
      }
    }
  }
}

//1120px
//600px
