.projekty-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 282px;
  padding-left: 120px;
  padding-right: 120px;

  h2 {
    font-size: 95px;
    font-weight: 800;
    color: #39383E;
    margin: 0 0 184px;
  }
}

.carousel-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1000px;

  .carousel-item {
    display: none;
    flex-flow: column;
    min-height: 300px;

    .carousel-item-images {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      padding-bottom: 15px;
      padding-top: 15px;
      max-width: 920px;
      max-height: 800px;
      overflow-y: auto;
.projekty-image-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
}
      img {
        max-width: 425px;
        //max-height: 425px;
        height: auto;
        width: auto;
        margin: 2px;
      }
      p{
        font-size: 12px;
        font-style: italic;
        padding-top: 12px;
        max-width: 425px;
        height: auto;
        width: auto;
        margin: 2px;
        text-align: center;
      }
    }

    > div:first-child {
      max-width: 850px;
      height: auto;

      p {
        text-align: justify;
      }
    }
  }

  .active {
    display: flex;
  }
}

.carousel-nav-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 470px;

  .carousel-nav-item {
    margin: 5px;
    display: flex;
    height: 40px;
    width: 40px;
    border: 1px #EC3D3C solid;
    border-radius: 200px;
    color: #39383E;
    background-color: white;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .carousel-nav-item.selected {
    background-color: #EC3D3C;
    color: white;
  }
}

@media only screen and (max-width: 1120px) {
  .projekty-container {
    margin-top: 120px;

    h2 {
      font-size: 50px;
      margin: 0 0 80px;
      text-align: center;
    }
  }

}

@media only screen and (max-width: 900px) {
  .projekty-container {
    padding-right: 45px;
    padding-left: 45px;

    h2 {
      margin: 0 0 40px;
      text-align: center;
    }
  }
  .carousel-container {

    .carousel-item {
      flex-flow: column;
      align-items: center;

      .carousel-item-images {
        display: flex;
        flex-flow: row wrap;
        max-width: 860px;
        width: 100%;

        img {
          height: auto;
          width: auto;
          margin: 2px;
        }

        > div {
          margin-bottom: 15px;
        }

        > div:nth-child(2) {
          display: flex;
          padding-left: unset;
        }
      }


    }
  }
}

@media only screen and (max-width: 600px) {
  .projekty-container {
    h2 {
      margin: 0 0 40px;
      text-align: center;
    }
  }
  .carousel-container {

    .carousel-item {
      flex-flow: column;
      align-items: center;

      .carousel-item-images {
        display: flex;
        flex-flow: row wrap;
        max-width: 860px;
        width: 100%;
        max-height: 500px;
        overflow-y: scroll;

        img {
          max-width: 300px;
          max-height: 300px;
          height: auto;
          width: auto;
          margin: 2px;

          > div {
            margin-bottom: 15px;
          }

          > div:nth-child(2) {
            display: flex;
            padding-left: unset;
          }
        }
        p{
          max-width: 300px;
          height: auto;
          width: auto;
          margin: 2px;
        }
      }
    }
  }
}